.picture {
  height: 400px;
  width: 450px;
  border-radius: 10px;
  border: 5px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  background: rgba(0,0,0, .75);
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 10px;
}
